{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="about_me">
  <h1><center><p>Hi, There!</p></center></h1>
  <center><img src="{% static "Images/5ldrgx.jpg" %}" alt="My Image"/></center>

<div align="justify"><hr><p>My name is Katerina Hillios and I am currently a senior Public Relations student at Quinnipiac University, studying Computer Information Systems as a minor. I am from Beverly, Massachusetts with  a <b>strong</b> passion for computers and technology.  This past summer I had an amazing opportunity to intern for Broadridge Financial Solutions as a configuration engineer which completely changed my outlook on my career path for what I want to work as; I am determined to work in the technology field.</p></hr>

<p>Fulfilling my background on the knowledge I have gained from relevant CIS and PR courses, I have developed a diverse set of skills from working in the public relations industry and the technology field. I believe I am a great balance of both, personable communications, and understanding the technical side (back-end) of businesses/applications online.</p>

<p>Traveling is also very important to me. International Opportunities are definitely a bonus when researching a position! :-) I am also looking for opportunities in different states such as Virginia (D.C. area), North Carolina, South Carolina, Tennessee (Nashville Area)</p>

<p>I am always available to be reached through my email katerinahillios@icloud.com or on my smartphone. Contacts or employers, feel free to contact me at anytime. I am looking forward to completing my remaining months at Quinnipiac University and am extremely excited to begin my journey working in the Computer/Information Technology field!</p>

  <p><center>If you want to learn more about me, I welcome you to visit my other   <a href="http://katerinahillios.wix.com/khillios">personal website!</a>
    <p><i>I also love new <a href="https://www.linkedin.com/in/katerinahillios">LinkedIn Connections!</a></i></p></center></div>

</div>
<hr>
<center><footer class="footer">
  <p>© Katerina Hillios | Quinnipiac University 2016</p>
  </footer></center>
{% endblock %}

