{% extends "base.html" %}
{% block content %}
{% load staticfiles %}

<div class="jumbotron">
  <h1>Katerina Hillios</h1>
  <p><h4>Public Relations Major, Computer Information Systems Minor</h4></p>
  <center><img src="{% static "Images/me.jpg" %}" class="img-circle" alt="Me"/></center>
  <br><p><a href="{% url 'resume' %}" class="btn btn-lg btn-primary">Resume</a></p>
</div>
<hr>

<center><div class="row marketing">
<div class="col-md-4">
  <h4>Blogs</h4>
  <p><a href="https://wordsbykaterina.wordpress.com/"> Words By Katerina</a></p>
  <p><a href="https://katerinameetsbarca.wordpress.com/"> Katerina Meets Barça</a></p>
  </div>


<div class="col-md-4">
  <h4>Social</h4>
  <p><a href="https://katerinahillios.wix.com/khillios"> Personal Portfolio</a></p>
  <p><a href="https://www.linkedin.com/in/katerinahillios"> LinkedIn</a></p>
</div>
  </div></center>

<hr>
<center><footer class="footer">
  <p>© Katerina Hillios | Quinnipiac University 2016</p>
  </footer></center>




{% endblock %}

